<div id="sidemenu-content" fxLayout="column" fxLayoutAlign="start center">
  
  <div id="user" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex=30>
        <img id="profile-photo" [src]="(user$ | async).avatar">
    </div>
    <div fxFlex=58 id="user-text" fxLayout="column">
      <b id="job-role">{{(user$ | async).jobRole}}</b>
      <span>
        {{(user$ | async).name}}
      </span>
    </div>
    <i class="fas fa-caret-down" fxFlex=5></i>
  </div>
  <span class="divider"></span>

  <div id="menu" fxLayout="column" fxLayoutAlign="start center">

    <div class="menu-item">
      <div fxLayout="row">
        <i class="fas fa-home menu-icon"></i>
        <b>Dashboard</b>
      </div>
    </div>

    <div class="menu-item" *ngIf="admin">
      <div fxLayout="row" fxLayoutAlign="start center">
        <i class="fas fa-tools expandible-menu-icon" fxFlex=15></i>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
          <span>Cadastros</span>
          <button mat-icon-button (click)="toggleRegister()">
            <i class="fas fa-angle-up menu-icon" *ngIf="register"></i>
            <i class="fas fa-angle-down menu-icon" *ngIf="!register"></i>
          </button>
        </div>
        
      </div>

      <div class="menu-sub-item" fxLayout="row" fxLayoutAlign="space-around" *ngIf="register">
        <div class="border" fxFlex=15></div>
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex>
          <span class="sub-item-row">Usuários</span>
          <span class="sub-item-last-row">Clientes</span>
        </div>
      </div>
    </div>

    <div class="menu-item">
      <div fxLayout="row" fxLayoutAlign="start center">
        <i class="fas fa-project-diagram expandible-menu-icon" fxFlex=15></i>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
          <span>Projetos</span>
          <button mat-icon-button (click)="toggleProjects()">
            <i class="fas fa-angle-up menu-icon" *ngIf="projects"></i>
            <i class="fas fa-angle-down menu-icon" *ngIf="!projects"></i>
          </button>
        </div>          
      </div>

      <div class="menu-sub-item" fxLayout="row" fxLayoutAlign="space-around" *ngIf="projects">
        <div class="border" fxFlex=15></div>
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex>
          <span class="sub-item-row" *ngIf="admin">Criar projeto</span>
          <span class="sub-item-row">Relatórios</span>
          <span class="sub-item-last-row">Registros</span>
        </div>
      </div>
    </div>

    <div class="menu-item">
      <div fxLayout="row" fxLayoutAlign="start center">
        <i class="fas fa-user expandible-menu-icon" fxFlex=15></i>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
          <span id="profile">Meu Perfil</span>
          <button mat-icon-button (click)="toggleProfile()">
            <i class="fas fa-angle-up menu-icon" *ngIf="profile"></i>
            <i class="fas fa-angle-down menu-icon" *ngIf="!profile"></i>
          </button>
        </div>
      </div>

      <div class="menu-sub-item" fxLayout="row" fxLayoutAlign="space-around" *ngIf="profile">
        <div class="border" fxFlex=15></div>
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex>
          <span class="sub-item-row">Trocar Senha</span>
          <span class="sub-item-last-row">Editar Perfil</span>
        </div>
      </div>
    </div>

    <div class="menu-item">
      <div>
        <i class="fas fa-stopwatch menu-icon"></i>
        <span>Ver registro de horas</span>
      </div>
    </div>

    <div class="menu-item">
      <div>
        <i class="fas fa-tools menu-icon"></i>
        <span>Configurações</span>
      </div>
    </div>

    <div class="menu-item">
      <div>
        <i class="fas fa-sign-out-alt menu-icon"></i>
        <span (click)="logout()">Sair do sistema</span>
      </div>
    </div>

  </div>

</div>