main {
    margin-top: 4.7%;
}

.main-container {
    height: 110%;
    max-width: 100%;
}

app-sidemenu {
    box-shadow: 1px 0 3px rgb(231, 231, 231);
    height: 110%;
}

footer {
    color: dimgray;
    width: 100%;
    background-color: white;
    padding: 2.5%;
    box-shadow: 1px 0 3px 1px rgb(231, 231, 231);
}