<app-toolbar (menu)="toggleMenu($event)" *ngIf="user$ | async"></app-toolbar>

<main id="main" fxLayout="row" fxLayoutAlign="start start">

  <app-sidemenu id="menu" *ngIf="user$ | async"></app-sidemenu> 

  <div class="main-container" fxFlex fxLayout="column" fxFlexfxLayoutAlign="space-between">

    <app-login fxFlex *ngIf="!(user$ | async)"></app-login>

    <app-dashboard fxFlex *ngIf="user$ | async"></app-dashboard>

    <app-footer id="footer" fxFlex=10 *ngIf="user$ | async"></app-footer>
    
  </div>
</main>