.main-container {
    margin-top: 4.7%;
    height: 114.5%;
    max-width: 100%;
    overflow: auto;
}

app-sidemenu {
    margin-top: 4.7%;
    width: 19.4%;
    transition: margin 0.2s;
    /* box-shadow: 0px 0 3px rgb(212, 212, 212); */
}

app-footer {
    bottom: 0;
    position: fixed;
    z-index: 1;
    width: 81.6%;
    transition: width 0.2s;
}