<main fxLayout="column">
  <div id="breadcrumb">Home/{{breadcrumb}}</div>
  <div id="greetings" *ngIf="greetings">
    <h2>Olá <span id="name">{{(user$ | async).name}}</span>, bem vindo!</h2>
    <span>Veja o andamento dos projetos</span>
  </div>

  <div id="cards" fxLayout="row" fxLayoutAlign="space-between start">
    <div id="main-card" fxfill fxFlex fxLayout="column" fxLayoutAlign="start start">

      <ng-container *ngIf="isAdmin(); else myProjects">
        <span id="card-title" fxFlex=5>Listagem de Projetos</span>        
      </ng-container>
      <ng-template #myProjects>
          <span id="card-title" fxFlex=5>Meus Projetos</span>     
      </ng-template>
      
      <div id="filter" fxLayout="row" fxLayoutAlign="space-between center">

        <div class="custom-select" fxLayout="row" fxLayoutAlign="start center">
          <i class="fas fa-filter"></i>
          <select id="filter" [(ngModel)]="filter">
            <option *ngFor="let option of filterOptions" [ngValue]="option" (click)="disableGreetings()">{{option}}</option>
          </select>
        </div>

        <div id="hours-header" fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="10%">
          <span>Horas Lançadas</span>
          <span>Horas Faltantes</span>
        </div>
      </div>
      <div fxFill fxLayout="column" fxLayoutAlign="start center" id="card-content" fxLayoutGap="2%" fxFlex>
  
        <div class="project-container" fxFill fxLayoutGap="20px">
          <app-project [filter]="filter" *ngFor="let i of aux" [i]="i"></app-project>
        </div>

      </div>
      
      <span class="last-row">[ Sem mais registros para exibir ]</span>
      
    </div>
    <div id="calendar-card" *ngIf="(user$ | async).role !== 'admin'" fxFlex=27 fxLayout="column">
      <span id="title">Apontamento de Horas</span>
      <span><i class="far fa-calendar-alt"></i>03 à 07 de junho</span>

      <div class="week" fxLayout="row" fxLayoutAlign="space-between center">
        <div *ngFor="let day of week" fxLayout="column">
          <b class="day">
            {{day.day}}
          </b>
          <span>
            {{day.hours}}h
          </span>
        </div>
      </div>

      <b class="last-row">
        [ Ver relatório completo ]
      </b>
    </div>

  </div>

  
</main>
